$xs: 320px;

$mobileSizeLess: 499px;
$mobileSize: 500px;
$mobileSizeL: 425px;

$modalWindowSize: 600px;

$tabletSizeLess: 767px;
$tabletSizeMore: 768px;

$smallScreenMore: 1101px;
$smallScreenLess: 1100px;

$laptopSize: 1024px;

$size4k: 3840px;
$size5k: 5120px;